<%= render 'refinery/shared/logo' %>

<div class="container" id="l2">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @page.title %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <% if @page.images.empty? %>
        <%= @page.content_for(:body).html_safe %>
      <% else %>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          
          <ol class="carousel-indicators">
            <% @page.images.each_with_index do |image, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% @page.images.each_with_index do |image, index| %>
            <div class=" item <% if index == 0 %>active<% end %>">
              <%= image_fu(image, '750x300c', class: 'img-responsive') %>
            </div>
            <% end %>
          </div>
          
          <!-- Controls -->
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev">
            <span class="fa fa-chevron-left" style="position:absolute;top:47%;"></span>
          </a>
          <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next">
            <span class="fa fa-chevron-right" style="position:absolute;top:47%;"></span>
          </a>
        </div>
        <%= @page.content_for(:body).html_safe %>

      <% end %>




      <%# @page.images.each_with_index do |image, index| %>
        <%#= image_fu(image, '750x300c', class: 'img-responsive') %>
      <%# end %>
      
    </div>

    <div class="col-md-4">
      <div class="home-quote no-top-margin">
        <blockquote>
          <%= raw @random_testimonial.excerpt %><br />
          &mdash; <em><%= @random_testimonial.name %></em>
        </blockquote>
      </div>
      <div style="margin-top:50px;">
        <%= child_sub_menu_pages.to_html %>
      </div>
    </div>

  </div>  
</div>